<!-- build:js script/script.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- inject:imports -->
<script src="script/components/test.js"></script>
<!-- endinject -->
<script src="script/script.js"></script>
<!-- endbuild -->
</body>
</html>
<?php COUCH::invoke(); ?>
