- var phone = "08455443757";
- var email = "info@divorceandwellbeing.co.uk";
- var fb    = "https://www.facebook.com/Divorce-and-Wellbeing-1781847755397293/";
- var tw    = "https://twitter.com/dwb3757"
- var li    = "https://www.linkedin.com/company/divorce-and-wellbeing";
- var im    = "https://www.instagram.com/divorceandwellbeing/?hl=en";
