extends includes/_header

block title
	title <cms:editable name='page_title' type='text'>Legal</cms:editable>

block main

	<cms:template title="Legal page">
	</cms:template>

	main
		section.news
			.inner
				article
					h1 <cms:editable name='legal_header' type='text'>DWB Consultancy TERMS AND CONDITIONS</cms:editable>

					<cms:editable name='legal_description' type='nicedit' buttons='italic,bold,link,unlink,ol,ul,image,subscript,superscript' group='services_group'>
					p
						| This website has been prepared to tell you about DWB and the services we provide and for no other purpose. It does not contain legal advice and DWB is not a law firm. Information provided on DWB's website is not legal advice and should not be treated as such.
					p
						| You use our website subject to the terms and conditions set out here and you may wish to read them before so doing:
					p
						| We are required by the Data Protection Act to tell you that if you provide any details to us about yourself we may use them to contact you in writing or orally to let you know about  our consultancy and the services we provide.
					p
						| We will not share your details with any company or third party without your consent or instruction.
					p
						| You may ask for and will be supplied with, details of any personal information we hold about you.
					p
						| DWB hold the copyright for all content and design of our website.
					p
						| Feel free to print  pages for your own personal use but no part of this site may be reproduced or transmitted for any other purposes.
					p
						| We do our best to ensure that the content of our website is both accurate and up to date but where we are not the authors of articles posted on the website we do not accept responsibility for their content.
					p
						| All links from our website to third party websites are provided for your information only and we do not accept responsibility for the content of any linked site.
					p
						| Sites you visit through links from DWB's website are not bound by these terms and conditions and DWB are not responsible for the protection or privacy of any information  you disclose on third party sites.
					p
						| Any dispute arising out of the use of this website shall be subject to the laws of England and Wales and the exclusive jurisdiction of the courts of England and Wales.
					p
						| DWB excludes all liability for any loss arising out of your use of, or reliance on, our website.
					</cms:editable>

	include includes/_footer
